chromedriver-autoinstaller
comtypes==1.1.8
html2text==2020.1.16
js2py==0.70
keyboard==0.13.5
markdown2==2.4.0
opencv-python==4.5.2.52
pygame==1.9.6
pygame-gui==0.5.7
pyttsx3==2.90
pywin32==301
requests==2.25.1
selenium==3.141.0
wheel==0.38.1
